* {
    padding: 0;
    margin: 0;
    color: black;
    
}

body {
    padding-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
}



.players {
    display: flex;
    gap: 40px;
    font-size: 1.5rem;
    justify-content: center;
}

.players input {
    height: 1.5rem;
}



.board {
    height: 50vh;
    width: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board {
    border: 2px solid black;
}

div button {
    height: 100%;
    width: 100%;
}


.board > div button {
    font-size: 6rem;
}

.start {
    font-size: 1.2rem;
    height: 2.5rem;
    width: 8rem;
    border-radius:25px;
    border: 1px black solid;
}

.turn {
    height: 1.5rem;
    font-size: 1.3rem;
}